body {
  background: rgba(255, 192, 203, 0.5);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 600px;
  border-radius: 5px;
  background: linear-gradient(
    180.3deg,
    rgb(163, 186, 254) 37.2%,
    rgb(252, 137, 137) 137.3%
  );
  margin: 40px auto;
  box-shadow: 5px 5px 15px 0.5px rgba(0, 0, 0, 0.8),
    0 0 0 1px rgba(0, 0, 0, 0.08);
}

.weather-app {
  padding-top: 17px;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  margin-left: 13px;
}

.search-form-input {
  background-color: rgb(252, 230, 234);
  border: none;
  border-radius: 10px;
  width: 70%;
  padding: 8px 15px;
  font-size: 14px;
}

.search-form-button {
  background-color: rgb(216, 131, 160);
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  margin: 5px;
}

.current-weather-card {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin-left: 20px;
}

.current-weather-icon {
  width: 150px;
}

.current-weather-card-body {
  color: white;
}

#current-city {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  margin-top: -30px;
}

#current-date-and-time {
  font-size: 21px;
}

.current-temperature {
  display: flex;
  font-family: "Pacifico", cursive;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 6px;
}

#current-temperature {
  font-size: 50px;
}

#weather-app-temp-unit {
  font-size: 15px;
  margin-top: -10px;
}

#current-condition-des {
  font-size: 21px;
}

.feels-like-temp {
  display: flex;
  justify-content: center;
}

#feels-like-temp {
  font-size: 17px;
  margin-top: 5px;
}

#feels-like-temp-unit {
  font-size: 8px;
  margin-top: 8px;
}

.weather-icon {
  text-align: left;
  max-width: 55px;
  margin-left: 10px;
}

.card.mb-3 {
  background: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  width: 255px;
  height: 45px;
  border: none;
  color: white;
}

.forecast {
  max-width: 540px;
}

.card-text {
  display: flex;
  align-items: center;
}

.degree-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

footer {
  text-align: center;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 10px;
}

a {
  color: rgba(45, 97, 255, 0.7);
  text-decoration: none;
}
